@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body {
  margin: 0;
  padding: 0;
  background: #17171b;
  font-family: 'Bree Serif', serif;
}
.header .header-menu {
  height: 107px;
  min-width: 1350px;
}
.header .header-menu .site-logo {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 107px;
  float: left;
}
.header .header-menu .site-logo i {
  position: absolute;
  top: 35px;
  left: 20px;
  color: #e1e3e6;
}
.header .header-menu .site-logo h1 {
  position: absolute;
  left: 60px;
  top: 20px;
  font-size: 22px;
  display: inline-block;
  color: #e4e7e9;
}
.header .header-menu .site-logo span {
  position: absolute;
  top: 40px;
  left: 220px;
  color: #a5a5af;
}
.header .header-menu nav {
  display: inline-block;
  min-width: 850px;
}
.header .header-menu nav i {
  display: inline-block;
  margin-top: 35px;
  float: left;
  color: #e1e3e6;
}
.header .header-menu nav ul {
  margin-top: 40px;
}
.header .header-menu nav ul li {
  display: inline-block;
  list-tyle: none;
  margin-left: 80px;
}
.header .header-menu nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
.header .slider-in-header {
  background: #25272b;
  height: 425px;
  margin-top: 0;
}
.header .slider-in-header .bg-slider {
  display: inline-block;
  margin-top: 16px;
  margin-left: 40px;
  background-color: #8d9397;
  width: 1270px;
  height: 390px;
  border-radius: 4px;
}
.header .slider-in-header .bg-slider .text-slider {
  font-family: monospace;
  font-weight: bold;
  margin-top: 150px;
  margin-left: 84px;
  width: 500px;
  float: left;
  height: 100%;
}
.header .slider-in-header .bg-slider .text-slider .top-text {
  color: #40444a;
}
.header .slider-in-header .bg-slider .text-slider .center-text {
  color: #2e2e2e;
  font-size: 40px;
  font-style: italic;
}
.header .slider-in-header .bg-slider .text-slider .bottom-text {
  color: #7d818c;
}
.header .slider-in-header .bg-slider .text-slider a {
  display: inline-block;
  margin-top: 40px;
  width: 110px;
  height: 30px;
  border-radius: 4px;
  text-decoration: none;
}
.header .slider-in-header .bg-slider .text-slider .read-more {
  background: -webkit-linear-gradient(bottom, #829bbd 30%, #c3d2e6 99%);
  border: 1px solid #899db8;
  text-align: center;
  line-height: 30px;
  color: white;
  text-shadow: 2px 2px 2px #829bbd;
}
.header .slider-in-header .bg-slider .text-slider .portfolio {
  background: #e8eaf0;
  text-align: center;
  line-height: 30px;
  color: #95a1af;
  border: 1px solid #a8aebd;
}
.header .slider-in-header .bg-slider .slider-content {
  margin-top: 30px;
  margin-left: 140px;
}
.header .slider-in-header .bg-slider .slider-carret {
  margin-left: 250px;
}
main .popup {
  height: 433px;
  padding-top: 40px;
  padding-left: 27px;
}
main .popup .popup-menu {
  display: inline-block;
  width: 1300px;
}
main .popup .popup-menu ul {
  background: #c2c6cc;
}
main .popup .popup-menu ul li {
  display: inline-block;
}
main .popup .popup-menu ul li a {
  background: #c2c6cc;
  margin-left: -4px;
  padding: 5px 20px;
  display: inline-block;
  height: 62px;
  color: white;
  text-decoration: none;
}
main .popup .popup-menu ul li .big-text-popup {
  font-size: 25px;
}
main .popup .popup-menu ul li:first-child {
  margin-left: -36px;
}
main .popup .popup-menu ul li:first-child a {
  background: #26272c;
}
main .popup .left-column {
  width: 800px;
  float: left;
}
main .popup .left-column .top-text {
  color: #7f8792;
}
main .popup .left-column .bottom-text {
  color: #666e78;
}
main .popup .left-column .social {
  height: 50px;
  margin-top: 30px;
  line-height: 40px;
}
main .popup .left-column .social a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
  padding: 5px 20px;
  border-radius: 4px;
}
main .popup .left-column .social .read-more {
  background: #4f5562;
}
main .popup .left-column .social .social-tw {
  background: #547d9b;
}
main .popup .left-column .social .social-fb {
  background: #435785;
}
main .popup .right-column {
  float: right;
  width: 500px;
}
main .popup .right-column img {
  width: 400px;
  height: 200px;
  float: right;
}
main .popup .right-column .get-in-touch {
  display: inline-block;
  float: right;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  background: #4f5562;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  text-decoration: none;
}
main .brandmedia-more {
  background: #26272a;
  min-width: 1330px;
  color: white;
  height: 400px;
}
main .brandmedia-more img {
  margin-top: 40px;
}
main .brandmedia-more .brandmedia-tour {
  display: inline-block;
  width: 265px;
  margin-left: 130px;
}
main .brandmedia-more .brandmedia-apps {
  display: inline-block;
  width: 265px;
  margin-left: 130px;
}
main .brandmedia-more .brandmedia-jobs {
  display: inline-block;
  width: 265px;
  margin-left: 130px;
}
main .brandmedia-more a {
  color: white;
  text-decoration: none;
  background: #505765;
  padding: 5px 20px;
  border-radius: 5px;
}
main .newsletter {
  height: 80px;
  min-width: 1330px;
  line-height: 20px;
  padding-top: 20px;
}
main .newsletter .main-newsletter {
  width: 1200px;
  margin-left: 70px;
  background: #3a3c41;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
}
main .newsletter .main-newsletter .img-left {
  display: inline-block;
  float: left;
  padding: 21px 25px;
  background: #747680;
  border-radius: 5px 0 0 5px;
}
main .newsletter .main-newsletter p {
  display: inline-block;
  padding-top: 5px;
  margin-left: 25px;
}
main .newsletter .main-newsletter #email {
  margin-left: 50px;
  height: 30px;
  border-radius: 5px;
  border: none;
  width: 200px;
}
main .newsletter .main-newsletter #sign-up {
  height: 30px;
  margin-left: 20px;
}
main .newsletter .main-newsletter #sign-up {
  background: -webkit-linear-gradient(bottom, #c8271d 0%, #a95d46 100%);
  border: 0;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
footer {
  min-width: 1330px;
  color: white;
}
footer .site-navigation {
  width: 200px;
  display: inline-block;
  float: left;
}
footer .site-navigation p {
  margin-left: 40px;
}
footer .site-navigation ul li {
  list-style: none;
}
footer .site-navigation ul li a {
  color: white;
  text-decoration: none;
}
footer .blog-categories {
  width: 200px;
  display: inline-block;
  float: left;
}
footer .blog-categories p {
  margin-left: 40px;
}
footer .blog-categories ul li {
  list-style: none;
}
footer .blog-categories ul li a {
  color: white;
  text-decoration: none;
}
footer .jobs-board {
  width: 200px;
  display: inline-block;
  float: left;
}
footer .jobs-board p {
  margin-left: 40px;
}
footer .jobs-board ul li {
  list-style: none;
}
footer .jobs-board ul li a {
  color: white;
  text-decoration: none;
}
footer .connect {
  width: 200px;
  display: inline-block;
  float: left;
}
footer .connect p {
  margin-left: 40px;
}
footer .connect ul li {
  list-style: none;
}
footer .connect ul li a {
  color: white;
  text-decoration: none;
}
footer .brand-media-video {
  display: inline-block;
  width: 200px;
  float: left;
  padding-top: 20px;
}
footer .brand-media-video img {
  height: 150px;
}
footer .brandmedia {
  display: inline-block;
  width: 300px;
  font-size: 12px;
  margin-left: 50px;
}
footer .brandmedia a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
